{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block monTitre %} Article {% endblock %}

{% block body %}

    <div class="jumbotron">
        
        <div class="card">
            <h2 class="card-header">{{post.title}}</h2>
            <div class="card-body">
                <p >posté le: {{post.date|date('d/m/Y H:i:s')}}</p>
                <hr class="my-1">
            </div>
            <div class="row m-5">
                <div class="col-xl-6 col-md-5 col-sm-12 justify-content-center">
                    <img class="mx-auto d-block " src="{{asset('images/' ~ post.img)}}" alt="{{ post.title }}">
                </div>
                <div class="col-xl-6 col-md-7 col-sm-12 justify-content-center">
                    <p class="mt-4">{{post.content}}</p>
                </div>
            </div>
            <hr class="my-1">
            <div class="row m-5">
                <div class="col-xl-6 col-md-6 col-sm-12 justify-content-center">
                    {{ form_start(form) }}
                        {{ form_row(form.author) }}
                        {{ form_row(form.content) }}
                        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <ul>
                {% for comment in post.comments %}
                    <li>{{ comment.author }} : {{ comment.content }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}